*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  font-size: 62.5%; /*cada 1rem valerá 10px*/
}
body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #ececec;
}
/*início do header*/
header{
  font-size: 3rem;
  text-align: center;
  padding: 30px;
  color: #000446;
  border-bottom: solid 2px #000446;
}
div{
  margin: 0 auto;
}
/*fim do header*/

/*início da section*/
.warning{
  padding: 60px;
  font-size: 2rem;
}
/*fim da section*/

/*início do form*/
.form{
  font-size: 2rem;
  padding: 40px 0;
}
input{
  padding: 4px;
  cursor: pointer;
  margin: 0 5px;
}
input:hover {
  box-shadow: 10px 10px 10px #0000007c;
  transform: scale(1.1);
}
span{
  color: red;
}
button{
  margin-top: 80px;
  padding: 5px;
  font-size: 1.5rem;
  background-color: #fff;
  cursor: pointer;
}
button:hover{
  background-color: #ff0000;
  color:#fff;
  box-shadow: 2px 2px 2px #0000007c;  
  transform: scale(1.1);
}
/*fim do form*/

/*início da saída de dados*/
.data_output{
  display: flex;
  justify-content: center;
  padding: 40px;
}
.delta, .x_one, .x_two{
  margin: auto 10px;
  font-size: 2rem;
  width: 300px;
  padding-left: 5px;
  display: flex;
  border: solid 1.5px #000446;
}
/*fim da saída de dados*/